/** Add css rules here for your application. */
body {
	background: linear-gradient(90deg, #232324 0%, #0d0d0e 100%) !important;
font-family: verdana, sans-serif;
  
}
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px 70px;
  text-align: center;
}
.flowpainel{
	 border-radius: 24px;
	 width:250px;
	 height:400px;
	  box-shadow: 0px 0px 40px rgb(231, 230, 233);
	border: 2px solid #f1f2f7;
}
.gwt-Button  { 
	margin: 4px;
  	padding: 4px 10px !important;

    font-size: large;
    border: 2px solid #bbb;
    border-bottom: 1px solid #a0a0a0;
    border-radius: 40px;
}

.gwt-Button{
    padding: .8rem 1.2rem !important;
    font:normal 500 16px/20px;
    color: #ffffff;
    position: relative ;
    border: 2px solid transparent !important;
    border-radius: 5px;
}
.gwt-Button{
    background: linear-gradient(90deg, #111111 0%, #121213 100%) !important;
    background-clip: padding-box;
    color: linear-gradient(90deg, #b5bdf7 0%, #ffffff 100%)   !important;
    transition: backgraund .6s ease;
    box-shadow: 0px 5px 5px rgb(231, 230, 233);
}
.gwt-Button:hover{
    background: linear-gradient(90deg, #c5c9e2 0%, #c9c5d3 100%) !important;
    background-clip: padding-box;
    color: linear-gradient(90deg, #b5bdf7 0%, #a09e9e 100%);
    transition: backgraund .6s ease;
    box-shadow: 0px 10px 30px rgb(231, 230, 233);
}
.gwt-Button:after{
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    content: ' ';
    z-index: -1;
    border-radius: 2px;
    background:linear-gradient(90deg, #f1f2f7 0%, #e4e0ec 100%)  !important;
}

.gwt-TextBox{
   border: 0;
   font-size: large;
   text-align: center;
   margin: 20px auto;
   border: 2px solid #f1f2f7;
   padding:14px 10px;
   width: 240px;
   height: 50px;
   outline: none;
   color:white;
   border-radius: 24px;
   background: none;
  box-shadow: 0px 5px 10px rgb(231, 230, 233);
}

.no_meio{
	padding: 150px;
	top: 50%;
	left: 50%;
}